name: publish
on:
  push:
    tags:
      - "*"

permissions: {}

# Allow one concurrent deployment
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
  release:
    # prevents this action from running on forks
    if: github.repository == 'ota-meshi/eslint-plugin'
    permissions:
        contents: write # to create release (changesets/action)
        id-token: write # OpenID Connect token needed for provenance
        pull-requests: write # to create pull request (changesets/action)
    name: check version, and release
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: setup Node
        uses: actions/setup-node@v6
        with:
          registry-url: "https://registry.npmjs.org"
          node-version: lts/*
      - name: Install Packages
        run: yarn
      - name: Build
        run: yarn build
      - name: Lint
        run: yarn lint
      - name: check can npm-publish
        run: npx can-npm-publish
      - name: release
        run: npm publish
